.container {
	min-height: 2000;
}

.jumbotron {
	padding-top: 5rem;
	background-color: #fff;
	min-height: 200px;
}
.navbar{
	background-color: #FD4E0A;
}


#projects {
	background-color: #FD4E0A;
	margin-top: -8px;
	min-height: 800px;

}
#projects .pelayanan{
	font-weight: 700;
	font-family: rubik;

}
#fasilitas {
	background-color: #FD4E0A;
	margin-top: -8px;
	min-height: 800px;
	margin-top: -20px;	
}
#carouselExampleDark {
        background-size: cover;
}
section {
	padding-top: 4rem;
}
.footer{
	background-color: #FD4E0A;
}

#gallery-img{
	width: 100%;
}
#gallery .row > *{
	padding:0;
}

/*dokter*/
.dokter-box{
	background-color: #fff;
	border-radius: 10px;
	height: 500px;
	position: relative;
	transform-style: preserve-3d;
	
}
.dokter-box::before{
	content: 'DOKTER';
	position: absolute;
	color: #FD4E0A;
	font-size: 3em;
	font-weight: bold;
	font-style: italic;
	top: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	transition: 0.5s;

}
.dokter-box::after{
	content: 'RUMAH SAKIT DEDY JAYA';
	position: absolute;
	color: #FD4E0A;
	padding: 18px;
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	top: 350px;
	left: 50%;
	transform: translate(-50%, 0);
	
	opacity: 0;
	transition: 0.5s;

}
.dokter-box:hover::before{
	opacity: 1;
}

.dokter-box:hover::after{
	
	opacity: 1;
}
.dokter-name {
	position: absolute;
	top: 0;
	width: 100%;
	color: #FD4E0A;
	text-align: center;
	font-size: 2em;
	opacity: 0;
	transition: 0.5s;
	transform: translate3d(0,0,50px);
}
.dokter-box:hover .dokter-name {
	top: 20px;
	opacity: 1;
}
.dokter-detail-button{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate3d(-50%, 0, 50px);
	opacity: 0;
	transition: 0.5s;
}
.dokter-box:hover .dokter-detail-button {
	opacity: 1;
	bottom: 20px;
}
.dokter-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -52%, 100px);
	max-width: 350px;
	transition: 0.5s;
}
.dokter-box:hover .dokter-img{
	transform: translate3d(-50%, -52%, 100px) rotate(-2deg) scale(1.1);
}


.hari{
	color: #fff;
	background-color: #FD4E0A;
	border-radius: 10px;
	height: 70px;
	position: relative;

}

/*info lihat selengkapnya*/
.btn-selengkapnya{
	font-size: 9pt;
	padding: 10px 30px;
}
.btn-lihat {
font-weight: bold;
color: #eb6423;
border-radius: 50px;
border: solid 1px #eb6423;
background-color: white;
}
/*teks folder pelayanan */
.carousel-inner .fontpelayanan{
        color: #FD4E0A;
        text-shadow: 1px 1px #000000;
}

section #ambulance {
	margin-top: -65px;
}
section #bpjs {
	margin-top: -65px;
}
section #bpjs .border {height: 650px;
        width: 550px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #ambulance .border {height: 350px;
        width: 550px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #paketmcu .border {height: 250px;
        width: 650px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #poliklinik .border {height: 250px;
        width: 650px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}

section #polianak .border {height: 250px;
        width: 500px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #polipenyakitdalam .border {height: 350px;
        width: 500px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #polikebidanan .border {height: 450px;
        width: 500px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #polifisioterapi .border {height: 450px;
        width: 500px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #polisyaraf .border {height: 350px;
        width: 500px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #polipenyakitkulit .border {height: 350px;
        width: 500px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}section #poligizi .border {height: 350px;
        width: 500px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #polipsikologi .border {height: 350px;
        width: 1100px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #polimata .border {height: 350px;
        width: 500px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: center;
        padding: 20px 10px;}
section #rawatinap .border {height: 350px;
        width: 400px;
        float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: left;
        padding: 20px 10px;}
section #ranap .border {
	height: 500px;
	width: 630px;
	float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: left;
        padding: 20px 10px;

}
section #ranap .listranap .border {
	height: 500px;
	width: 430px;
	float: left;
        margin : 0.3em;
        color: #fff;
        background-color: #FD4E0A;
        text-align: left;
        padding: 20px 10px;

}